.container {
  min-height: 100vh;
}
th {
  text-align: center !important;
}
.table {
  min-height: 100px;
}
.mt-130 {
  margin-top: 130px !important;
}

.bg {
  background-image: url("/bg.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}